<%= link_to 'Português', root_path(locale: 'pt-BR') %> | <%= link_to 'English', root_path(locale: 'en') %>
<h1><%= env_rails %></h1>
<h5><%= t("language") %> | <%= l(DateTime.now) %></h5>
<%= render "menu"%>
