<%= link_to 'Português', root_path(locale: 'pt-BR') %> | <%= link_to 'English', root_path(locale: 'en') %>
<h1><%= env_rails %></h1>
<h5><%= t("language") %></h5>
<%= render "menu"%>
<p>A exibição da data utilizando o i18n. <%= l(DateTime.now) %></p>
<p>Utilizando o helper </p>
<h3>Usando Cookies</h3>
<p><%= cookies[:curso] %></p>
<h3>Usando Session</h3>
<p><%= session[:user] %></p>
