<!DOCTYPE html>
<html>
  <head>
    <title>CryptoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <br>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"btn btn-outline-primary btn-sm" %>
        </li>
        <li class="nav-item">
          <%= link_to root_path(locale: "pt-BR") do %>
            <%= image_tag "Brazil.png", size:32 %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to root_path(locale: 'en') do %>
            <%= image_tag "United-States.png", size:32 %>
          <% end %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
